* {
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

.basket{
    height: 70px;
}

.cart-button{
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53,
    110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.products{
    margin-top: 50px;
}

.goods-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
}

.goods-item{
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #8db5d8;
    box-shadow: 5px 10px 20px rgba(53,
    110, 173, 0.2);
    border-radius: 10px;
    width: 300px;
    height: 200px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 10px;
}

h3{
    height: 150px;
    line-height: 150px;
}

p{
    height: 50px;
}