<!DOCTYPE html>
<html>
<head>
  <title>eShop</title>
</head>
<body>
  <div id="app">
    <header>
      <input id="search" v-model="search" v-on:input="searchHandler">
      <button class="cart-button" type="button">Корзина</button>

      <div class="basket">
          <h3> Ваша корзина: {{ isVisibleCart }}  </h3>
          <p v-if="isVisible == true">Ваша корзина: {{ isVisibleCart }}</p>
      </div>
    </header>
    <main>
      <div class="goods-list">
        <div class="goods-item" v-for="good in filtredGoods"><h3>{{ good.title }}</h3><p>{{ good.price }}</p></div>
      </div>
    </main>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="script.js"></script>
</body>
</html>
